@import "../../styles/variables.scss";

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}
.h-50 {
  height: 54px;
}
.btn {
  &-tertiary {
    color: $primary-500;
    background-color: transparent;
    &:active {
      background-color: $gray-300;
      border: none;
    }
  }

  &-seconday {
    background-color: $white;
    color: $black;
    font-size: 14px;
    border: 1px solid $gray-200;
    font-weight: 500;

    &:hover {
      color: $primary-500;
      border: 1px solid $primary-500;
      background-color: $white;
      & img {
        filter: invert(27%) sepia(20%) saturate(5641%) hue-rotate(328deg)
          brightness(96%) contrast(86%);
      }
    }
  }
  &-secondary {
    background-color: $white;
    color: $black;
    font-size: 14px;
    border: 1px solid $gray-200;
    font-weight: 500;

    &:hover {
      color: $primary-500;
      border: 1px solid $primary-500;
      background-color: $white;
    }
    &:active {
      background-color: $white;
    }
  }
}
