@import "./styles/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

// text colors start
.text-gray-100 {
  color: $gray-100;
}

.text-gray-200 {
  color: $gray-200;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-700 {
  color: $gray-700;
}

.text-gray-900 {
  color: $gray-900;
}
.text-black {
  color: $black;
}

.text-primary-500 {
  color: $primary-500;
}

.text-success-500 {
  color: $success-500;
}

// form labels start
.label-small {
  @extend .form-label;
  @extend .fs-14;
  margin-bottom: 8px !important;
}
.label-large {
  @extend .form-label;
  @extend .fs-18;
}

// background colors
.bg-primary-100 {
  background-color: $primary-100;
}

.bg-primary-50 {
  background-color: $primary-50;
}

.bg-gray-50 {
  background-color: $gray-50 !important;
}
.bg-gray-100 {
  background-color: $gray-100 !important;
}
.bg-neutral-50 {
  background-color: #f9fafc;
}
.bg-gray-200 {
  background-color: $gray-200;
}

.bg-gray-white {
  background-color: $gray-white;
}
.bg-success-50 {
  background-color: $success-50;
}
.bg-success-500 {
  background-color: $success-500;
}
.bg-danger-500 {
  background-color: $danger-500;
}
// font weight
.fw-800 {
  font-weight: 800;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: $font-weight-bold !important;
}

//  font-sizes
.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

//letter-sapcing
.ls-2 {
  letter-spacing: 0.32px;
}

// width start
.mw-460 {
  max-width: 460px;
}
.mw-407 {
  max-width: 407px;
}
.mw-445 {
  max-width: 445px;
}

.mw-730 {
  max-width: 730px;
}
.mw-396 {
  max-width: 396px;
}
.mw-357 {
  max-width: 357px;
}

.w-0 {
  width: 0px;
}

.w-50 {
  width: 50px;
}
.w-10 {
  width: 10px;
}

.h-40 {
  height: 48px;
}

.h-180 {
  height: 180px;
}
//image color changer
.eyeslash {
  background-color {
    filter: invert(55%) sepia(9%) saturate(539%) hue-rotate(192deg)
      brightness(95%) contrast(89%);
  }
}

.main-content {
  flex-grow: 1;
}

.table {
  margin: 0px !important;
  border-radius: 10px;

  tr {
    border: 1px solid $gray-200;

    th {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      font-size: 12px;
      background-color: $gray-white;
      text-transform: uppercase;
      color: $gray-600 !important;
      font-weight: $table-th-font-weight;
      letter-spacing: 0.72px;

      &:first-child {
        padding-left: 80px;
      }
      &:last-child {
        padding-right: 24px;
      }
    }

    td {
      font-size: 14px;
      vertical-align: middle;
      color: $black !important;
      font-weight: 400;
      &:first-child {
        padding-left: 24px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }
}

.button-div {
  display: none;
}
.drop-btn {
  display: block;
}

//badge
.badge {
  &-primary {
    border: 1px solid $success-100 !important;
  }
  &-secondary {
    border: 1px solid $success-100 !important;
  }
}

@media screen and (max-width: 992px) {
  .table-div {
    margin: 0px !important;
    border-radius: 0px !important;
    border: none !important;
  }
  table {
    border: none !important;
    thead {
      display: none;
    }

    tr {
      .company-name {
        font-weight: 600 !important;
      }
      .data {
        padding-top: 0px !important;
        padding-left: 90px !important;
      }
      td {
        display: block;
        border: none !important;
      }
    }
  }
  .button-div {
    display: flex;
  }
  .drop-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .button-div {
    display: flex;
  }
  .drop-btn {
    display: none;
  }
}
