@import "./styles/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

// form labels start
.label-small {
  @extend .form-label;
  @extend .fs-14;
  margin-bottom: 8px !important;
}
.label-large {
  @extend .form-label;
  @extend .fs-18;
}
// form labels end

// text colors start
.text-gray-100 {
  color: $gray-100;
}

.text-gray-200 {
  color: $gray-200;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-700 {
  color: $gray-700;
}

.text-gray-900 {
  color: $gray-900;
}
.text-black {
  color: $black;
}

.text-primary-500 {
  color: $primary-500;
}

// text colors end

// background colors
.bg-primary-100 {
  background-color: $primary-100;
}

.bg-primary-50 {
  background-color: $primary-50;
}

.bg-gray-50 {
  background-color: $gray-50 !important;
}
.bg-gray-100 {
  background-color: $gray-100 !important;
}
.bg-neutral-50 {
  background-color: #f9fafc;
}
// font weight start
.fw-800 {
  font-weight: 800;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: $font-weight-bold !important;
}

//  font-sizes

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-24 {
  font-size: 24px;
}

// font sizes end

// text divider start
.separator-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: $gray-500;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: $border-1;
  }

  &:not(:empty)::before {
    margin-right: 6px;
  }

  &:not(:empty)::after {
    margin-left: 6px;
  }
}

// text-divider end

// width start
.mw-460 {
  max-width: 460px;
}
.mw-407 {
  max-width: 407px;
}
.mw-445 {
  max-width: 445px;
}

.mw-730 {
  max-width: 730px;
}
.mw-396 {
  max-width: 396px;
}
.mw-357 {
  max-width: 357px;
}

.w-0 {
  width: 0px;
}
// width end

.form-check-input {
  margin-right: 8px;
}

.user-dropdown a {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.top-header .nav-link.active {
  font-weight: $font-weight-bold;
}
